{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Portal do Coordenador</title>
        <link rel="shortcut icon" href="{% static 'img/icone.png' %}" />
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/PortalCoordenador.css' %}" />
</head>

<body style="margin: 0px">

    <header>
    <!--CABECALHO-->
    <div class="cabecalho">

        <div class="logo-faculdade">
            <a href="/PortalHome"> 
                <img src="{% static  'img/logo.png' %}" alt="Faculdade Solution" title="Faculdade Solution">
            </a>
        </div>
            
    </div>

    <div class="login">
        <img src="{% static 'img/usuario.jpg' %}" />
        <div class="botao1">Área do Coordenador</div>
        <div class="sair">
        <a href="">Sair</a>
        </div>

    </div>
    
    
    <!--FIM CABECALHO-->
    </header>

    <!--SECTION-->
    <section class="articles">

        <div class="esquerdo">
            <h1 class="aga1" style="margin-left: 20px";>Acesso <br> Rápido</h1>

            <ul class="navbar">
                    <li><a href="#">Secretaria Online</a><hr>
                        <ul>
                              <li><a href="#">Requerimentos</a><hr></li>
                              <li><a href="">Calendário Geral</a><hr></li>
                              <li><a href="#">Atualize seus dados<hr></a></li>                    
                        </ul>
                    </li></nav>
            <li>
            <li><a href="">Gestão das Disciplinas</a><hr>
            <li><a href="">Atividades Contínuas</a><hr>
            <li><a href="/ementas">Ementas</a><hr>
            <a href="/planoensino">Planos de Ensino</a><hr>
            <a href="/gruposalunos">Grupo de Alunos</a><hr>
            <a href="/avisos">Avisos</a><hr> 
            </li>
        

    </div>

    <!-- Caixa de avisos -->
    <div class="aviso">
        <div class="avisos_coordenador">
            <h1 class="aga1" style="margin-left: 500px";>Avisos</h1>
        Coordenador, insira aqui o seu aviso para publicação: <br/>
        
            <table background="hey.png" width="1000" height="200">
                <textarea name="Publicação" id="comentarios">
                    
                    </textarea>
                    <br>
                    
                    <input action="oi.html" type="submit" value="Publicar">
                    </form>
                    </td>
                    </table>



            

            
    </section>

</body>
</html>