{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Portal do Coordenador</title>
        <link rel="shortcut icon" href="{% static 'img/icone.png' %}" />
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/PortalCoordenador.css'%} " />
</head>

<body style="margin: 0px">

    <header>
    <!--CABECALHO-->
    <div class="cabecalho">

        <div class="logo-faculdade">
            <a href="/PortalHome"> 
                <img src="{% static 'img/logo.png' %}" alt="Faculdade Solution" title="Faculdade Solution">
            </a>
        </div>
            
    </div>

    <div class="login">
        <img src="{% static 'img/usuario.jpg' %}" />
        <div class="botao1">Área do Coordenador</div>
        <div class="sair">
        <a href="">Sair</a>
        </div>

    </div>
    
    
    <!--FIM CABECALHO-->
    </header>

    <!--SECTION-->
    <section class="articles">

        <div class="esquerdo">
            <h1 class="aga1" style="margin-left: 20px";>Acesso <br> Rápido</h1>

            <ul class="navbar">
                    <li><a href="#">Secretaria Online</a><hr>
                        <ul>
                              <li><a href="#">Requerimentos</a><hr></li>
                              <li><a href="#">Calendário Geral</a><hr></li>
                              <li><a href="#">Atualize seus dados<hr></a></li>                    
                        </ul>
                    </li></nav>
            <li>
            <li><a href="#na">Gestão das Disciplinas</a><hr>
            <li><a href="#nb">Atividades Contínuas</a><hr>
            <li><a href="#nc">Ementas</a><hr>
            <a href="#nd">Planos de Ensino</a><hr>
            <a href="#ne">Grupo de Alunos</a><hr>
            <a href="#nf">Avisos</a><hr> 
            </li>
        

    </div>

    <!-- MURAL DE RECADOS - INÍCIO -->
    <div class="mural">
        <div class="recados">
            <h1 class="aga1" style="margin-left: 20px";>Mural de Recados</h1>
            Recados:</div>
    </div>
    <!-- MURAL DE RECADOS - FIM -->


            

            
    </section>

</body>
</html>