<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Bem Vindo!</title>
        <link rel="shortcut icon" href="icone.png" />
    
    <link rel="stylesheet" type="text/css" href="css/PortalHome.css" />
    <link rel="stylesheet" type="text/css" href="css/contato.css" />
</head>

<body style="margin: 0px">

    <header>
    <!--CABECALHO-->
    <div class="cabecalho">

        <div class="logo-faculdade">
            <a href="PortalHome.html"> 
                <img src="logo.png" alt="Faculdade Solution" title="Faculdade Solution">
            </a>
        </div>
            
    </div>
    
    <div class="login">
        <img src="usuario.jpg" />
        <div class="botao1">Área do Aluno</div>
        <div class="sair">
        <a href="C:\Users\1801037\Documents\LMSProjeto\site\faculdade\login.html">Sair</a>
        </div>

    </div>
 
    
    <!--FIM CABECALHO-->
    </header>

    <!--SECTION-->
    <section class="articles">

            <div class="esquerdo">
                <h1 class="aga1" style="margin-left: 20px";>Acesso <br> Rápido</h1>
    
                <ul class="navbar">
    
                    <li><a href="notas.html">Notas e Faltas</a></li>
                    <hr style="margin: 0px;">
    
                    <li><a href="#nb">Documentação</a></li>
                    <hr style="margin: 0px;">
    
                    <li><a href="contato.html">Contato dos Professores</a></li>
                    <hr style="margin: 0px;">
    
                    <li><a href="#nd">Calendário Geral</a></li>
                    <hr style="margin: 0px;">
    
                    <li><a href="sugestao.html">Reclame Aqui</a></li>
                    <hr style="margin: 0px;">
    
                </ul>
    
            <h1 class="smart" style="margin-left: 20px";>Aulas Online</h1>
    
            <ul class="smartclass">
    
                <li><a href="#na">Material Online</a></li>
                <hr style="margin: 0px;">
    
                <li><a href="#na">Aulas EAD</a></li>
                <hr style="margin: 0px;">
    
    
            </ul>
    
    
        </div>
    
    
    <!-- MURAL DE RECADOS - INÍCIO -->
    <div class="notas_e_faltas">
            
            <table style="width:90%;">
                <h1 style="text-align: center;">Contato dos professores</h1>
                    <tr>
                        <th colspan="4">Faculdade Solution de Tecnologia</th>
                    </tr>
                      <th>Nome</th>
                      <th>e-mail</th> 
                    </tr>
                    <tr>
                      <td>Adilson Ferreira da Silva	</td>
                      <td>adilson.Silva@solution.edu.br</td> 
                    </tr>
                    <tr>
                      <td>Adriano Augusto da Fonte</td>
                      <td>adriano.Fonte@solution.edu.br</td> 
                    </tr>
                    <tr>
                        <td>Ana Cristina dos Santos	</td>
                        <td>ana.santos@solution.edu.br</td>
                    </tr>
                      <tr>
                        <td>Cacilda Aparecida da Costa Paranhos</td>
                        <td>cacilda.Paranhos@solution.edu.br	</td>
                    </tr>
                    <tr>
                        <td>Diego Stephen Cavenachi Corazza</td>
                        <td>diego.Corazza@solution.edu.br</td>
                    </tr>
                    <tr>
                        <td>Fernanda Carolina Armando Duarte</td>
                        <td>fernanda.Duarte@solution.edu.br</td>
                    </tr>
                    <tr>
                        <td>Fernando Sequeira Sousa</td>
                        <td>fernando.Sousa@solution.edu.br</td>
                    </tr>
                    <tr>
                        <td>George Amandio Bernardo da Silva Rodrigues</td>
                        <td>george.rodrigues@solution.edu.br</td>
                    </tr>
                    <tr>
                        <td>Gilberto Alves Pereira</td>
                        <td>gilberto.pereira@solution.edu.br</td>
                    </tr>
                    <tr>
                        <td>Gilson Simoes Gonçalves</td>
                        <td>gilson.goncalves@solution.edu.br</td>
                    </tr>
                    <tr>
                        <td>Guilherme Garcez Lohmann</td>
                        <td>guilherme.lohmann@solution.edu.br	</td>
                    </tr>
                  </table>       
    
    </div>

    

    <!-- MURAL DE RECADOS - FIM -->


            

            
    </section>

</body>
</html>
